@model CaseNotesVm

@using (Html.BeginForm("CaseNoteDetails", "Home", FormMethod.Post, new { id = "formCaseNoteDetails" }))
{
    <div class="container-fluid">

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="_CaseNoteDetails">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="invisible">
                        <label asp-for="CaseHeaderId" class="control-label"></label>
                        <input asp-for="CaseHeaderId" class="form-control" />
                        <span asp-validation-for="CaseHeaderId" class="text-danger"></span>
                    </div>
                    <div class="invisible">
                        <label asp-for="NoteTypeId" class="control-label"></label>
                        <input asp-for="NoteTypeId" class="form-control" />
                        <span asp-validation-for="NoteTypeId" class="text-danger"></span>
                    </div>
                    <div class="invisible">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="invisible">
                        <label asp-for="CaseNoteDesc" class="control-label"></label>
                        <input asp-for="CaseNoteDesc" class="form-control" />
                        <span asp-validation-for="CaseNoteDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoteText" class="control-label"></label>
                        <textarea asp-for="NoteText" class="textarea" text-wrap:normal" type="text" placeholder="Please add your Case Note here"></textarea>
                        <span asp-validation-for="NoteText" class="text-danger"></span>
                    </div>


                    <div class="invisible">
                        <label asp-for="Document" class="control-label"></label>
                        <input asp-for="Document" class="form-control" />
                        <span asp-validation-for="Document" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @*<button type="button" class="invisible" id="btnCancelNote" data-dismiss="modal">Cancel</button>*@
                        <button type="button" class="btn btn-primary" id="btnCancelNote" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


<link href="~/css/controlssheet.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

