
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th><input type="checkbox" name="chooseAllRecipient" id="chooseAllRecipient" /></th>
            <th class="center">Contact Name(s)</th>
            <th class="center">Mobile Number(s)</th>
        </tr>
    </thead>

    <tbody id="contacts"></tbody>
</table>
<div>
    <div>
        <label for="fname">Value:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <button onclick="getValueWelcome(); return false;">Show</button>
    </div>
</div>
<button id="add_recipient">Add Selected Recipients</button>
<select id="recipientList"></select>
<script src="~/js/site.js"></script>
<script src="~/appScriptsJS/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //showLoading();
        EmployeeManagement.GetContact();
        //GetContact();
    });

    function getValueWelcome() {
        var value = document.getElementById('fname').value
        alert(Welcome(value));
    }
</script>

